@charset "UTF-8";

:root {
    --BODY:   #e5e8e0;
    --HEADER: #958969;
    --TABLE: #D9D9D9;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--BODY);
}

header {
    background-color: var(--HEADER);
    padding: 0px 0px 10px 0px;
}

nav {
    margin: auto;
    width: 20%;
}


#logo {
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 0px 0px;
}

p {
    font-size: 1.1em;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.pesquisa {
    display: flex;
    justify-content: right;
    margin: 20px 150px 20px 0px;
}

input#ipesquisa {
    text-align: justify;
    font-size: 1em;

    width: 15%;
    height: 30px;

    border: solid 1px black;
    border-radius: 10px;
    
    padding: 0px 0px 0px 10px;
}

table {
   border-collapse: collapse;
   width: 80%;
   margin: 0px 0px 20px 0px;
   box-shadow: 5px 1px 5px rgba(74, 74, 74, 0.476);
}

th {
    background-color: var(--HEADER);
    color: var(--BODY);
}

thead {
    font-size: 1.3em;
}

thead > tr > th {
    position: sticky;
    top: 1px;
    background-color: var(--HEADER);
}

tbody {
    background-color: var(--TABLE);
}

tr:nth-child(even) {
    background-color: #c4b690;
 }

tr:hover {
    background-color: #c2bf8a75;
}

td, th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

footer {
   position: static;
   bottom: 0; 
   background-color: var(--HEADER); 
   color: #2e2005e5;

   width: 100vw;
   height: 34px;
}

.texto-footer {
    padding-top: 5px;
}

a {
    color: #2e2005e5;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #b6b4b4;
    text-decoration: underline;
}

.telefones {
    color: black;
}

.telefones:hover {
    color: #F2F2F2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

/* QR CODE */

.logo-code {
    display: flex;
    justify-content: center;
}

.QR-CODE {
    width: 150px;
    height: 150px;
}

#legenda-qr {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1em;
    height: 100px;
    width: 20%;

    margin: 15px 0px 0px 20px;
    padding: 0px 15px 0px 15px;

    background-image: linear-gradient(#958969, #796c49);
    color: white;
    
    border-radius: 20px 20px 20px 0px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.49);
}

/* QR CODE */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}