@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width:768px) { 

    header {
        width: 100vw;
    }

    .pesquisa {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }

    input#ipesquisa {
        width: 60%;
        height: 40px;
        border-radius: 5px;
    }

    table {
        margin: 0px 60px 0px 60px;
    }

    .container {
        overflow-x: auto;
    }

    .logo-code {
        display: none;
    }

    footer > p {
        font-size: 1em;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}